#  Algebraic Expressions and Functions

In [160]:
3 +  7

10

In [161]:
3 * 2

6

In [162]:
5 / 2

2.5

In [163]:
4 / 2

2.0

In [164]:
2 * 3 + 1

7

In [165]:
(3 + 1) * 3

12

In [166]:
4.321 / 3 + 10

11.440333333333333

In [167]:
4.321 / (3 + 10)

0.3323846153846154

In [168]:
3 - 2 + 1

2

In [169]:
3

3

In [170]:
2**3

8

In [171]:
2**4

16

In [172]:
14 // 3

4

In [173]:
14 % 3

2

In [174]:
abs(-4)

4

In [175]:
abs(4)

4

In [176]:
abs(-3.2)

3.2

In [177]:
min(6, -2)

-2

In [178]:
max(6, -2)

6

In [179]:
min(2, -4, 6, -2)

-4

In [180]:
max(12, 26.5, 3.5)

26.5

# Practice Problem 2.1

In [153]:
# (a) The sum of the ﬁrst ﬁve positive integers

a = (1, 2, 3, 4, 5)
sum(a)

15

In [154]:
# (b) The average age of Sara(age23), Mark(age19), and Fatima(age31) 

ageOfS =23
ageOfM = 19 
ageOfF = 31

averageAge = (ageOfS + ageOfM + ageOfF)/3
print(averageAge)

24.333333333333332

In [155]:
# (c) The number of times 73 goes into 403

403 // 73

5

In [156]:
# (d) The remainder when 403 is divided by 73 

403 % 73

38

In [157]:
# (e) 2 to the 10th power

2**10

1024

In [158]:
# (f) The absolute value of the diﬀerence between Sara’s height (54 inches) and Mark’s height(57inches) 

heightOfS = 54
heightOfM = 57
diff = heightOfM - heightOfS
abs(diff)

3

In [159]:
# (g) The lowest price among the following prices: $34.99, $29.95, and $31.50

min(34.99, 29.95, 31.50)

29.95

# Boolean Expressions and Operators

In [144]:
2 < 3

True

In [145]:
3 < 2

False

In [146]:
5 - 1 > 2 + 1

True

In [147]:
3 == 3

True

In [148]:
3 + 5 == 4 + 4

True

In [149]:
3 == 5 - 3

False

In [150]:
3 <= 4

True

In [151]:
3 >= 4

False

In [152]:
3 != 4

True

# Practice Problem 2.2

In [137]:
# (a) 2 + 2 < 4 which evaluates to False

2 + 2 < 4

False

In [138]:
# (b) 7 // 3 == 1 + 1 which evaluates to True

7 // 3 == 1 + 1

True

In [139]:
# (c) 3**2 + 4**2 == 25 which evaluates to True

3**2 + 4**2 == 25

True

In [140]:
# (d) 2 + 4 + 6 > 12 which evaluates to False

2 + 4 + 6 > 12

False

In [141]:
# (e) 1387 % 19 == 0 which evaluates to True

1387 % 19 == 0

True

In [142]:
# (f) 31 % 2 == 0 which evaluates to False

31 % 2 == 0

False

In [143]:
# (g) min(34.99, 29.95, 31.50) < 30.00 evaluates to True

min(34.99, 29.95, 31.50) < 30.00

True

# Practice Problem 2.3

In [136]:
a = 3
b = 4

c = (a*a) + (b*b)

print(c)

25

# Practice Problem 2.4

In [135]:
s1 = "bat"
s2 = "ball"
s3 = "wicket"

print(s1 + ' '+ s2 + ' '+ s3 )
print(10 * (s1 + ' '))
print( s1 + ' ' + 2 * (s2 + ' ') + 2 * (s3 + ' ') + s3 )
print( 7 * (s1 + ' '+ s2 + ' '))
print( 3 * (2 * s2 + s3 + ' '))

bat ball wicket
bat bat bat bat bat bat bat bat bat bat
bat ball ball wicket wicket wicket
bat ball bat ball bat ball bat ball bat ball bat ball bat ball
ballballwicket ballballwicket ballballwicket

# Practice Program 2.5

In [129]:
s = 'abcdefghijkl'

s[1]
s[2]
s[6]
s[8]
s[9]

'j'

# Practice Program 2.6

In [126]:
words = ['bat','ball','basket','badminton','football']

max(words)
min(words)

'badminton'

# Practice Program 2.7

In [125]:
grades= [9, 7, 7, 10, 3, 9, 6, 6, 2]
grades.count(7) 
grades[-1] = 4
max(grades) 
grades.sort() 
sum(grades) / len(grades)

6.777777777777778

# Practice Program 2.8

In [124]:
((2+3) == 4) or (a >= 5)
(((lst[1]) * (-3) < (-10)) == 0
(((lst[1]) *(-3))<(-10)) in [0,true]
(2) * (3**2)
(4/2) in [1, 2, 3]

SyntaxError: unexpected EOF while parsing (<ipython-input-124-fab9d326a1c5>, line 3)

# Practice Program 2.9

In [ ]:
#the first value evaluates to bolean 
#part b is a float value 
#part c is an Integer value 
#part d IS an bol value

# Practice Program 2.10

In [119]:
import math 

print(math.sqrt(a**2 + b**2))
print(math.sqrt(a**2 + b**2) == 5)
print(math.pi *a**2)
print(str((x - a)**2) + ((y - b)**2) < (r**2))

9.219544457292887
False
113.09733552923255

TypeError: unsupported operand type(s) for -: 'str' and 'int'

# Practice Program 2.11

In [102]:
# (a) The sum of negative integers −7 through −1

-7-6-5-4-3-2-1

-28

In [109]:
# (b) The average age of a group of kids at a summer camp given than 17 are 9 years old, 24 are 10 years old, 21 are 11 years old, and 27 are 12 years old 

averageAge = 9*17 + 24*10 + 21*11 + 27*12
average = averageAge/ (17+24+21+27)
print(average)

10.651685393258427

In [106]:
# (c) 2 to the power −20

2** - 20

9.5367431640625e-07

In [107]:
# (d) The number of times 61 goes into 4356

4356 // 61

71

In [108]:
# (e) The remainder when 4365 is divided by 61 

4365 % 61

34

# Practice Program 2.12

In [101]:
x = '+'
y = '-'

print(y+x)
print(y+x+y)
print(x+y+y)
print(x+y+y+x+y+y)
print(x+y+y+x+y+y+x+y+y+x+y+y+x+y+y)

-+
-+-
+--
+--+--
+--+--+--+--+--

# Practice Program 2.13

In [99]:
s = 'abcdefghijklmnopqrstuvwxyz' 
    
print(s[0])
print(s[2])
print(s[25])
print(s[24])
print(s[16])

a
c
z
y
q

# Practice Program 2.14

In [98]:
s = 'goodbye'

print(s[0]=='g')
print(s[6]=='g')
print(s[0]=='g' and s[1]=='a')
print(s[5]=='x')
print(s[3]=='d')
print(s[0]==s[1])
print(s[1]+s[2]+s[3]+s[4]=='tion')

True
False
False
False
True
False
False

# Practice Program 2.15

In [94]:
# (a) The number of characters in the word "anachronistically" is 1 more than the number of characters in the word "counterintuitive." 

word1 = "anachronistically"
word2 = "counterintuitive"
length1 = len(word1)
length2 = len(word2)
length = length1-length2
print("The number of characters in the word " + word1 + " is " + str(length) + " more than the number of characters in the word " + word2)

The number of characters in the word anachronistically is 1 more than the number of characters in the word counterintuitive

In [95]:
# (b) The word "misinterpretation" appears earlier in the dictionary than the word "misrepresentation."

word = ['misinterpretation', 'misrepresentation']
word.sort()
print("The sorted list shows that " + word[0] + " appears earlier than " + word[1])
print(word)

The sorted list shows that misinterpretation appears earlier than misrepresentation
['misinterpretation', 'misrepresentation']

In [96]:
# (c) The letter "e" does not appear in the word "ﬂoccinaucinihilipiliﬁcation." 

word = 'floccinaucinihilipilification'
check = word.find('e')
print(str(check) + " shows that the letter e does not apper in " + word)

-1 shows that the letter e does not apper in floccinaucinihilipilification

In [97]:
# (d) The number of characters in the word "counterrevolution" is equal to the sum of the number of characters in words "counter" and "resolution."

word1 = 'counterrevolution'
word2 = 'counter'
word3 = 'revolution'
length1 = len(word1)
length2 = len(word2)
length3 = len(word3)
print("The number of characters in the word " + word1 + " is " + str(length1) + "  equal to the sum of the number of characters in words " + word2 + " and " + word3 + " that is " + str(length2 + length3))

The number of characters in the word counterrevolution is 17  equal to the sum of the number of characters in words counter and revolution that is 17

# Practice Program 2.16

In [93]:
a = 6
b = 7
c = (a + b)/2

inventory = ['paper', 'staples', 'pencils']
first = 'John'
middle = 'Fitzgerald'
last = 'Kennedy'
fullname = (first + ' ' + middle + ' ' + last)
print(fullname)

John Fitzgerald Kennedy

# Practice Problem 2.17

In [1]:
# (a) The sum of 17 and −9 is less than 10.

a = 17
b = -9 
c = 10

x = (a + b) < c
print(x)

True

In [9]:
# (b) The length of list inventory is more than ﬁve times the length of string full name.

list = ['books', 'copy', 'pencil', 'eraser', 'pen', 'note', 'gloves', 'glasses','books', 'copy', 'pencil', 'eraser', 'pen', 'note', 'gloves', 'glasses','abcd','a']
a = 'str'

len(list) > 5*len(a)

True

In [11]:
# (c) c is no more than 24.

c = 9
c < 24

True

In [13]:
# (d) 6.75 is between the values of integers a and b.

a = 6.74
b = 6.76
c = 6.75

a < b and b > c

True

In [14]:
# (e) The length of string middle is larger than the length of string first and smaller than the length string last.

first = 'first'
middle = 'Larger'
last = 'largest'

len(middle) > len(first) and len(middle) < len(last)

True

In [22]:
# (f) Either the list inventory is empty or it has more than 10 objects in it.

# For more than 10

inventory = ['books', 'copy', 'pencil', 'eraser', 'pen', 'note', 'gloves', 'glasses','books', 'copy', 'pencil', 'eraser', 'pen', 'note', 'gloves', 'glasses','abcd','a']

isEmpty = (len(inventory) == 0)
hasMoreThanTenObjects = (len(inventory) > 10)


print('list : '+ str(inventory)+' is Empty : '+ str(isEmpty)+' and has More Than 10 Objects : '+ str(hasMoreThanTenObjects))

# For empty

inventory =[]

isEmpty = (len(inventory) == 0)
hasMoreThanTenObjects = (len(inventory) > 10)

print('list : '+ str(inventory)+' is Empty : '+ str(isEmpty)+' and has More Than 10 Objects : '+ str(hasMoreThanTenObjects))

list : ['books', 'copy', 'pencil', 'eraser', 'pen', 'note', 'gloves', 'glasses', 'books', 'copy', 'pencil', 'eraser', 'pen', 'note', 'gloves', 'glasses', 'abcd', 'a'] is Empty : False and has More Than 10 Objects : True
list : [] is Empty : True and has More Than 10 Objects : False

# Practice Problem 2.18

In [23]:
# (a) Assign to variable flowers a list containing strings 'rose', 'bougainvillea', 'yucca','marigold','daylilly',and'lilly of the valley'. 

flowers = ['rose', 'bougainvillea', 'yucca','marigold','daylilly','lilly of the valley']
print(flowers)

['rose', 'bougainvillea', 'yucca', 'marigold', 'daylilly', 'lilly of the valley']

In [26]:
# (b) Write a Boolean expression that evaluates to True if string 'potato' is in list flowers, and evaluate the expression.

# For False

flowers = ['rose', 'bougainvillea', 'yucca','marigold','daylilly','lilly of the valley']
isPotato = 'potato' in flowers 
print('List is: ' + str(flowers) + ' Is potato in the list? '+str(isPotato) )

# For True

flowers = ['rose', 'bougainvillea', 'yucca','marigold','daylilly','lilly of the valley','potato']
isPotato = 'potato' in flowers 
print('List is: ' + str(flowers) + ' Is potato in the list? '+str(isPotato) )

List is: ['rose', 'bougainvillea', 'yucca', 'marigold', 'daylilly', 'lilly of the valley'] Is potato in the list? False
List is: ['rose', 'bougainvillea', 'yucca', 'marigold', 'daylilly', 'lilly of the valley', 'potato'] Is potato in the list? True

In [39]:
# (c) Assign to list thorny the sublist consisting of the ﬁrst three objects in list flowers. 

flowers = ['rose', 'bougainvillea', 'yucca','marigold','daylilly','lilly of the valley']
thorny = flowers[0:3]
print(thorny)

['rose', 'bougainvillea', 'yucca']

In [40]:
# (d) Assign to list poisonous the sublist consisting of just the last object of list flowers. 

flowers = ['rose', 'bougainvillea', 'yucca','marigold','daylilly','lilly of the valley']
poisonous = flowers[len(flowers)-1:]
print(poisonous)

['lilly of the valley']

# Practice Problem 2.19

In [42]:
# (a) Assign to variable numYes the number of occurrences of 'Y' in list answers.

answers = ['Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N'] 
numYes = answers.count('Y')
print("The number of occurance of Y in list is: ", numYes)

The number of occurance of Y in list is:  5

In [43]:
# (b) Assign to variable numNo the number of occurrences of 'N' in list answers.

answers = ['Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N'] 
numNo = answers.count('N')
print("The number of occurance of N in list is: ", numNo)

The number of occurance of N in list is:  6

In [45]:
# (c) Assign to variable percentYes the percentage of strings in answers that are 'Y'.

answers = ['Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N'] 
numYes = answers.count('Y')
percentYes = (numYes/len(answers))*100
print(percentYes)

45.45454545454545

In [50]:
# (d) Sort the list answers. 

answers = ['Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N'] 
answers.sort()
print(answers)

['N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y']

In [54]:
# (e) Assign to variable f the index of the ﬁrst occurrence of 'Y' in sorted list answers. 

answers = ['Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N'] 
answers.sort()
f = answers.index('Y')
print(f)

6

# Practice Problem 2.20

In [64]:
s = 'top'
s= s[2] + s[1] + s[0]
print(s)

pot

# Practice Problem 2.21

In [58]:
s = 'Ahmed'
t = 'Muhammad'

initials = t[0] + s[0]
print(initials)

MA

# Practice Problem 2.22

# Practice Problem 2.23

In [65]:
# (a) Insert string 'Apr' between 'Mar' and 'May'. 

monthL = ['Jan', 'Feb', 'Mar', 'May']
monthT = ('Jan', 'Feb', 'Mar', 'May')
monthL.insert(3, 'Apr')
print(monthL)
monthT.insert(3, 'Apr')
print(monthT)

['Jan', 'Feb', 'Mar', 'Apr', 'May']

AttributeError: 'tuple' object has no attribute 'insert'

In [66]:
# (b) Append string 'Jun'.  

monthL = ['Jan', 'Feb', 'Mar', 'May']
monthT = ('Jan', 'Feb', 'Mar', 'May')
monthL.append('June')
print(monthL)
monthT.append('June')
print(monthT)

['Jan', 'Feb', 'Mar', 'May', 'June']

AttributeError: 'tuple' object has no attribute 'append'

In [67]:
# (c) Pop the container. 

monthL = ['Jan', 'Feb', 'Mar', 'May']
monthT = ('Jan', 'Feb', 'Mar', 'May')
monthL.pop()
print(monthL)
monthT.pop()
print(monthT)

['Jan', 'Mar', 'May']

AttributeError: 'tuple' object has no attribute 'pop'

In [68]:
# (d) Remove the second item in the container.

monthL = ['Jan', 'Feb', 'Mar', 'May']
monthT = ('Jan', 'Feb', 'Mar', 'May')
monthL.pop(1)
print(monthL)
monthT.pop(1)
print(monthT)

['Jan', 'Mar', 'May']

AttributeError: 'tuple' object has no attribute 'pop'

In [69]:
# (e) Reverse the order of items in the container. 

monthL = ['Jan', 'Feb', 'Mar', 'May']
monthT = ('Jan', 'Feb', 'Mar', 'May')
monthL.reverse()
print(monthL)
monthT.reverse()
print(monthT)

['May', 'Mar', 'Feb', 'Jan']

AttributeError: 'tuple' object has no attribute 'reverse'

In [70]:
# (f) Sort the container. 

monthL = ['Jan', 'Feb', 'Mar', 'May']
monthT = ('Jan', 'Feb', 'Mar', 'May')
monthL.sort()
print(monthL)
monthT.sort()
print(monthT)

['Feb', 'Jan', 'Mar', 'May']

AttributeError: 'tuple' object has no attribute 'sort'

# Practice Problem 2.24

In [80]:
grades = ['B','B','F','C','B','A','A','D','C','D','A','A','B'] 
count = [grades.count('A'), grades.count('B'), grades.count('C'), grades.count('D'), grades.count('F')]

print(count)

[4, 4, 2, 2, 1]

# Practice Problem 2.25

In [81]:
grades = ('B','B','F','C','B','A','A','D','C','D','A','A','B') 
count = [grades.count('A'), grades.count('B'), grades.count('C'), grades.count('D'), grades.count('F')]

print(count)

[4, 4, 2, 2, 1]

# Practice Problem 2.26

In [82]:
# (a) (0,0) 

import math

radiusOfDartboard = 10
cd_x = 0
cd_y = 0

x = float(input("Input the value of x: "))
y = float(input("Input the value of y: "))

r = math.sqrt(((x - cd_x)**2) + ((y - cd_y)**2))

if r <= radiusOfDartboard:
    print("Dart hits the dartboard")
else :
    print("Dart doesnot hit dartboard")
print("Dart hits at (" + str(x) + "," + str(y) + ")")
print("And The expression returns: " + str(r <= radiusOfDartboard))

Input the value of x: 0
Input the value of y: 0
Dart hits the dartboard
Dart hits at (0.0,0.0)
And The expression returns: True

In [83]:
# (b) (10,10) 

import math

radiusOfDartboard = 10
cd_x = 0
cd_y = 0

x = float(input("Input the value of x: "))
y = float(input("Input the value of y: "))

r = math.sqrt(((x - cd_x)**2) + ((y - cd_y)**2))

if r <= radiusOfDartboard:
    print("Dart hits the dartboard")
else :
    print("Dart doesnot hit dartboard")
print("Dart hits at (" + str(x) + "," + str(y) + ")")
print("And The expression returns: " + str(r <= radiusOfDartboard))

Input the value of x: 10
Input the value of y: 10
Dart doesnot hit dartboard
Dart hits at (10.0,10.0)
And The expression returns: False

In [84]:
# (c) (6,−6) 

import math

radiusOfDartboard = 10
cd_x = 0
cd_y = 0

x = float(input("Input the value of x: "))
y = float(input("Input the value of y: "))

r = math.sqrt(((x - cd_x)**2) + ((y - cd_y)**2))

if r <= radiusOfDartboard:
    print("Dart hits the dartboard")
else :
    print("Dart doesnot hit dartboard")
print("Dart hits at (" + str(x) + "," + str(y) + ")")
print("And The expression returns: " + str(r <= radiusOfDartboard))

Input the value of x: 6
Input the value of y: -6
Dart hits the dartboard
Dart hits at (6.0,-6.0)
And The expression returns: True

In [85]:
# (d) (−7,8) 

import math

radiusOfDartboard = 10
cd_x = 0
cd_y = 0

x = float(input("Input the value of x: "))
y = float(input("Input the value of y: "))

r = math.sqrt(((x - cd_x)**2) + ((y - cd_y)**2))

if r <= radiusOfDartboard:
    print("Dart hits the dartboard")
else :
    print("Dart doesnot hit dartboard")
print("Dart hits at (" + str(x) + "," + str(y) + ")")
print("And The expression returns: " + str(r <= radiusOfDartboard))

Input the value of x: -7
Input the value of y: 8
Dart doesnot hit dartboard
Dart hits at (-7.0,8.0)
And The expression returns: False

# Practice Problem 2.27

In [71]:
# (a) 16 feet and 75 degrees 

from math import pi
from math import sin
length = float(input("Input the length of the ladder: "))
angleInDegrees = float(input("Input the angle of the ladder: "))
angleInRadians = (angleInDegrees * pi)/180
height = length * sin(angleInRadians)
print("Height is: " + str(height))

Input the length of the ladder: 16
Input the angle of the ladder: 75
Height is: 15.454813220625093

In [73]:
# (b) 20 feet and 0 degrees 

from math import pi
from math import sin
length = float(input("Input the length of the ladder: "))
angleInDegrees = float(input("Input the angle of the ladder: "))
angleInRadians = (angleInDegrees * pi)/180
height = length * sin(angleInRadians)
print("Height is: " + str(height))

Input the length of the ladder: 20
Input the angle of the ladder: 0
Height is: 0.0

In [74]:
# (c) 24 feet and 45 degrees  

from math import pi
from math import sin
length = float(input("Input the length of the ladder: "))
angleInDegrees = float(input("Input the angle of the ladder: "))
angleInRadians = (angleInDegrees * pi)/180
height = length * sin(angleInRadians)
print("Height is: " + str(height))

Input the length of the ladder: 24
Input the angle of the ladder: 45
Height is: 16.97056274847714

In [75]:
# (d) 24 feet and 80 degrees 

from math import pi
from math import sin
length = float(input("Input the length of the ladder: "))
angleInDegrees = float(input("Input the angle of the ladder: "))
angleInRadians = (angleInDegrees * pi)/180
height = length * sin(angleInRadians)
print("Height is: " + str(height))

Input the length of the ladder: 24
Input the angle of the ladder: 80
Height is: 23.63538607229299

# Practice Problem 2.28

In [76]:
# (a) An expression that evaluates to the index of the middle element of lst

oddList = [1, 2, 3, 4, 5, 6, 7]
length = len(oddList)
index = int((length-1)/2)
print("The index of mid element of odd list is: " + str(index))
evenList = [1, 2, 3, 4]
length2 = len(evenList)
index1 = int(length2/2)
index2 = int(index1 - 1)
print("The index of mid element of even list are: " + str(index2) + " and " + str(index1))

The index of mid element of odd list is: 3
The index of mid element of even list are: 1 and 2

In [77]:
# (b) An expression that evaluates to the middle element of lst

oddList = [1, 2, 3, 45, 51, 6, 7]
length = len(oddList)
index = int((length-1)/2)
print("The mid element of odd list is: " + str(oddList[index]))
evenList = [289, 2290, 3222, 411]
length2 = len(evenList)
index1 = int(length2/2)
index2 = int(index1 - 1)
print("The mid element of even list are: " + str(evenList[index1]) + " and " + str(evenList[index2]))

The mid element of odd list is: 45
The mid element of even list are: 3222 and 2290

In [78]:
# (c) A statement that sorts the list lst in descending order 

list = [1, 4, 5, 9, 3]
list.sort()
list.reverse()
print(list)

[9, 5, 4, 3, 1]

In [79]:
# (d) A statement that removes the ﬁrst number of list lst and puts it at the end

list = [1, 3, 5, 9]
firstElement = list[0]
list.pop(0)
print("After removing 1st element list is: ")
print(list)
list.append(firstElement)
print("After adding element in the list at the end list is: ")
print(list)

After removing 1st element list is:
[3, 5, 9]
After adding element in the list at the end list is:
[3, 5, 9, 1]

# Practice Problem 2.29

In [90]:
print(str(0==(1==2))) 
print(str((2+(3==4)+5==7)))
print(str((1<-1)==(3>4)))

True
True
True

# Practice problem 2.30

# Practice Problem 2.31

In [92]:
print("The extend() method adds the specified list elements (or any iterable) to the end of the current list.")
print("The copy() method returns a copy of the specified list.")
print("The clear() method removes all the elements from a list.")

The extend() method adds the specified list elements (or any iterable) to the end of the current list.
The copy() method returns a copy of the specified list.
The clear() method removes all the elements from a list.